.Todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: 72px;
  transition: 0.2s all;
}

.Todo:hover {
  background-color: #e8f0fe;
}

.Todo__text {
  font-weight: 700;
  font-size: 15px;
}

.Todo__remove {
  width: 24px;
  height: auto;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  user-select: none;
  opacity: 0.55;
}
